@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1471358856");
  /* IE9*/
  src: url("iconfont.eot?t=1471358856#iefix") format("embedded-opentype"), url("iconfont.woff?t=1471358856") format("woff"), url("iconfont.ttf?t=1471358856") format("truetype"), url("iconfont.svg?t=1471358856#iconfont") format("svg")
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  font-family: "Microsoft Yahei", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #eeeeee; }

a {
  text-decoration: none;
  color: black; }

#resume-body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: white;
  height: 1386px;
  box-shadow: 0 0 2px #00BB9C;
  font-size: 18px;
  line-height: 1.5; }
  #resume-body * {
    word-break: break-all; }
  #resume-body h1 {
    text-align: center;
    line-height: 150px;
    color: black;
    text-shadow: 0 0 1px black;
    font-weight: 500; }
  #resume-body i {
    font-weight: 400;
    font-size: 25px; }
  #resume-body li {
    list-style: disc inside; }
  #resume-body li b {
    font-style: italic; }
  #resume-body #resume-name {
    width: 300px;
    height: 150px;
    border-top: 7px solid black;
    border-left: 7px solid black;
    margin-right: 15px;
    float: left;
    background-color: #eeeeee;
    box-shadow: 0 0 5px black; }
  #resume-body #resume-basic-info {
    font-size: 16px;
    box-shadow: 0 0 5px black;
    padding-top: 25px;
    padding-left: 20px;
    border-top: 7px solid black;
    border-right: 7px solid black;
    height: 150px;
    width: 645px;
    float: left;
    background-color: #eeeeee; }
    #resume-body #resume-basic-info ul {
      display: inline-block;
      width: 45%; }
    #resume-body #resume-basic-info li {
      line-height: 1.5;
      list-style: none; }
    #resume-body #resume-basic-info i {
      font-size: 20px; }
    #resume-body #resume-basic-info:before, #resume-body #resume-basic-info:after {
      content: "";
      display: table; }
    #resume-body #resume-basic-info:after {
      clear: both; }
  #resume-body #resume-left {
    margin-top: 15px;
    margin-right: 15px;
    height: 1216px;
    width: 472.5px;
    float: left; }
    #resume-body #resume-left #resume-basic-skills {
      border-left: 7px solid black;
      padding: 30px;
      background-color: #eeeeee;
      box-shadow: 0 0 5px black;
      margin-bottom: 15px; }
    #resume-body #resume-left #resume-pro-exp {
      border-left: 7px solid black;
      border-bottom: 7px solid black;
      padding: 30px;
      background-color: #eeeeee;
      box-shadow: 0 0 5px black;
      max-height: 1176px; }
  #resume-body #resume-right {
    height: 1216px;
    width: 472.5px;
    float: left;
    margin-top: 15px; }
    #resume-body #resume-right #resume-personal-skills {
      border-right: 7px solid black;
      margin-bottom: 15px;
      padding: 30px;
      background-color: #eeeeee;
      box-shadow: 0 0 5px black; }
    #resume-body #resume-right #resume-other-skills {
      border-right: 7px solid black;
      border-bottom: 7px solid black;
      max-height: 1176px;
      padding: 30px;
      background-color: #eeeeee;
      box-shadow: 0 0 5px black; }

.resume-btns {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }
  .resume-btns button {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem; }