<hgroup>
   <h1><a href="/">个人简历生成器</a></h1>
</hgroup>
<div id="list">
	<h3>简历文件列表</h3>
	<% if(mode === "edit"){ %>
		<p>编辑列表，点击下面的项目可以编辑相应的简历信息。</p>
	<% } else { %>
		<p>预览列表，在页面最下面有按钮，点击可以<b>生成HTML</b>或者<b>打印pdf</b>。</p>
	<% } %>
	<div>
		<ul>
			<% _.each(list, function(l, index) { %>
				<% if(mode === "edit"){ %>
					<li>
						<i class="iconfont">&#xe6c0;</i>
						<a href="#/form/basic-info">			
							<%= l %>
						</a>
					</li>
				<% } else { %>
					<li>
						<i class="iconfont">&#xe6c0;</i>
						<a href="#/watch/<%= l %>">
							<%= l %>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
	</div>
</div>