
<div>
	<div id="resume-body" style="line-height:2">
		<div id="resume-name" style="line-height:1">
			<h1>
				<%= basicInfo.name %>
			</h1>
			<p><%= basicInfo.jobApply %></p>
		</div>
		<div id="resume-basic-info">
			<ul>
				<li>
					<i class="iconfont">
						&#xe767;
					</i>
					<%= basicInfo.school %>
				</li>
				<li>
					<i class="iconfont">
						&#xe658;
					</i>
					<%= basicInfo.major %>
				</li>
				<li>
					<i class="iconfont">
						&#xe631;
					</i>
					<%= basicInfo.mobile %>
				</li>
			</ul>	
			<ul>
				<li>
					<i class="iconfont">
						&#xe62a;
					</i>
					<%= basicInfo.email %>
				</li>
				<li>
					<i class="iconfont">
						&#xe638;
					</i>
					<%= basicInfo.blog %>
				</li>
				<li>
					<i class="iconfont">
						&#xe764;
					</i>
					<%= basicInfo.github %>
				</li>
			</ul>
		</div>
		<div id="resume-left">
			<div id="resume-basic-skills">
				<h2>
					<i class="iconfont">&#xe603;</i>
					基本能力
				</h2>
				<ul>
					<% _.each(basicSkills, function(b, index) { %>
						<li><b><%= b.title %></b><p><%= b.item %></p></li>		
					<% }) %>
				</ul>
			</div>
			<div id="resume-pro-exp">
				<h2>
					<i class="iconfont">&#xe646;</i>
					项目经历
				</h2>
				<ul>
					<% _.each(proExp, function(b, index) { %>
						<li><b><%= b.title %></b><p><%= b.item %></p></li>		
					<% }) %>
				</ul>
			</div>
		</div>
		<div id="resume-right">
			<div id="resume-personal-skills">
				<h2>
					<i class="iconfont">&#xe640;</i>
					个人技术
				</h2>
				<ul>
					<% _.each(personalSkills, function(b, index) { %>
						<li><b><%= b.title %></b><p><%= b.item %></p></li>		
					<% }) %>
				</ul>
			</div>
			<div id="resume-other-skills">
				<h2>
					<i class="iconfont">&#xe617;</i>
					其他技术
				</h2>
				<ul>
					<% _.each(otherSkills, function(b, index) { %>
						<li><b><%= b.title %></b><p><%= b.item %></p></li>			
					<% }) %>
				</ul>
			</div>		
		</div>
		<div id="resume-note" style="line-height:2">
			<b>
				<i class="iconfont">&#xe60b;</i>
				简历介绍
			</b>
			<p>这个简历是自动生成的。简历生成器以Backbone + Underscore + Jquery + Webpack 为前端，Express为后端，能够在浏览器界面预览编辑简历，也可以生成HTML或打印成pdf。</p>
		</div>	
	</div>
	<div class="resume-btns">
		<button class="resume-print">打印</button>
		<button class="resume-html">生成html</button>
		<label>行距:</label>
		<select placeholder="行距">
		  <option value="1.5">1.5</option>
		  <option value="1.6">1.6</option>
		  <option value="1.7">1.7</option>
		  <option value="1.8">1.8</option>
		  <option value="1.9">1.9</option>
		  <option value="2.0" selected="selected">2.0</option>
		  <option value="2.1">2.1</option>
		  <option value="2.2">2.2</option>
		  <option value="2.3">2.3</option>
		  <option value="2.4">2.4</option>
		  <option value="2.5">2.5</option>
		</select>
	</div>
</div>